In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('states_all.csv')
data.head(5)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.398961,260.892247,196.764414,NaN

In [3]:
#ODEV 1

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1918 non-null   object
 1   STATE                         1918 non-null   object
 2   YEAR                          1918 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              535 non-null    float64
 22  AVG_MATH_8_SCORE              531 non-null    float64
 23  AVG_READING_4_SCORE           532 non-null    float64
 24  AVG_READING_8_SCORE           497 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 374.7+ KB

In [4]:
data.isnull().head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,True,True,True,False
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True

In [5]:
#null olanlarÄ±n sayÄ±sÄ±:

data.isnull().sum()

PRIMARY_KEY                        0
STATE                              0
YEAR                               0
ENROLL                           694
TOTAL_REVENUE                    643
FEDERAL_REVENUE                  643
STATE_REVENUE                    643
LOCAL_REVENUE                    643
TOTAL_EXPENDITURE                643
INSTRUCTION_EXPENDITURE          643
SUPPORT_SERVICES_EXPENDITURE     643
OTHER_EXPENDITURE                694
CAPITAL_OUTLAY_EXPENDITURE       643
GRADES_PK_G                      376
GRADES_KG_G                      286
GRADES_4_G                       286
GRADES_8_G                       286
GRADES_12_G                      286
GRADES_1_8_G                     898
GRADES_9_12_G                    847
GRADES_ALL_G                     286
AVG_MATH_4_SCORE                1383
AVG_MATH_8_SCORE                1387
AVG_READING_4_SCORE             1386
AVG_READING_8_SCORE             1421
dtype: int64

In [6]:
data.isnull().sum()*100/data.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          36.183525
TOTAL_REVENUE                   33.524505
FEDERAL_REVENUE                 33.524505
STATE_REVENUE                   33.524505
LOCAL_REVENUE                   33.524505
TOTAL_EXPENDITURE               33.524505
INSTRUCTION_EXPENDITURE         33.524505
SUPPORT_SERVICES_EXPENDITURE    33.524505
OTHER_EXPENDITURE               36.183525
CAPITAL_OUTLAY_EXPENDITURE      33.524505
GRADES_PK_G                     19.603754
GRADES_KG_G                     14.911366
GRADES_4_G                      14.911366
GRADES_8_G                      14.911366
GRADES_12_G                     14.911366
GRADES_1_8_G                    46.819604
GRADES_9_12_G                   44.160584
GRADES_ALL_G                    14.911366
AVG_MATH_4_SCORE                72.106361
AVG_MATH_8_SCORE                72.314911
AVG_READING_4_SCORE             72.262774
AVG_READING_8_SCORE             74.087591
dtype: float64

ODEV 2
#YIL deÄŸiÅŸkenini gÃ¶z ardÄ± edersem;
En Ã§ok null deÄŸer reading ve math score'larda var, Ã§Ã¼nkÃ¼ verimde 4-8-12. sÄ±nÄ±f Ã¶ÄŸrenci sayÄ±larÄ± varken, math skorda 12. sÄ±nÄ±f verilmiyor. null deÄŸerlerinin yÃ¼ksek olmasÄ± normal.

Ancak eÄŸer benim amacÄ±m bu skorlarla ilgili bir veriye ulaÅŸmak deÄŸilse, revenue ve Ã¶ÄŸrenci sayÄ±sÄ± ile ilgili bir iliÅŸki kuracaksam Ã¶rneÄŸin, bu sÃ¼tunlarÄ± zaten Ã§Ä±kartabilirim. (drop)

Bunun dÄ±ÅŸÄ±nda bu verilerde oldukÃ§a fazla null deÄŸeri var, ortalama veya medyanla doldurmak bizi yanÄ±ltabilir.

In [7]:
data.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1918.000000,1.224000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.275000e+03,1.224000e+03,...,1632.000000,1632.000000,1632.000000,1.020000e+03,1.071000e+03,1.632000e+03,535.000000,531.000000,532.000000,497.000000
mean,2001.947341,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,69166.507966,68106.537377,58420.870711,5.779547e+05,2.820691e+05,9.139695e+05,234.797280,278.461453,218.897886,263.683325
std,9.061480,1.066514e+06,1.175962e+07,1.146992e+06,5.549735e+06,5.489562e+06,1.199279e+07,6.300569e+06,3.357214e+06,5.347893e+05,...,79957.990356,77965.847263,67438.530709,6.757837e+05,3.307098e+05,1.055893e+06,10.209002,10.111886,7.742281,6.792513
min,1986.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,4577.000000,3371.000000,2572.000000,3.769800e+04,1.353000e+04,6.844900e+04,187.134670,232.831510,178.557612,236.379102
25%,1994.000000,2.645145e+05,2.189504e+06,1.899575e+05,1.165776e+06,7.151210e+05,2.170404e+06,1.171336e+06,6.380760e+05,1.034492e+05,...,18971.500000,19594.250000,16076.500000,1.649250e+05,8.060800e+04,2.480832e+05,229.752478,272.765806,214.741150,259.547225
50%,2002.000000,6.499335e+05,5.085826e+06,4.035480e+05,2.537754e+06,2.058996e+06,5.242672e+06,2.658253e+06,1.525471e+06,2.717040e+05,...,49087.000000,47880.000000,39408.000000,4.051115e+05,1.869190e+05,6.458050e+05,237.264821,280.619538,220.442392,265.022859
75%,2010.000000,1.010532e+06,1.084516e+07,8.279320e+05,5.055548e+06,4.755293e+06,1.074420e+07,5.561959e+06,3.222924e+06,5.172222e+05,...,78504.250000,78976.000000,69397.250000,6.439752e+05,3.223280e+05,1.043420e+06,242.000056,285.411348,224.005309,268.197443
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,6.441557e+06,253.420961,300.568235,236.773867,280.499130

In [8]:
states_all2 = data.copy()

# SOR

In [9]:
#Son 4 sutunda eksÄ±k deger cok oldugu Ä±cÄ±n bu sutunlar harÄ±c hepsÄ±nÄ± MEAN ile doldurdum

data.fillna(data.columns[:-4].mean(), inplace=True)

AttributeError: 'Index' object has no attribute 'mean'

In [10]:
data.fillna(data.mean(), inplace=True)
data.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1918.000000,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,...,1918.000000,1918.000000,1918.000000,1.918000e+03,1.918000e+03,1.918000e+03,1918.000000,1918.000000,1918.000000,1918.000000
mean,2001.947341,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,69166.507966,68106.537377,58420.870711,5.779547e+05,2.820691e+05,9.139695e+05,234.797280,278.461453,218.897886,263.683325
std,9.061480,8.518612e+05,9.586652e+06,9.350479e+05,4.524243e+06,4.475189e+06,9.776737e+06,5.136336e+06,2.736861e+06,4.271544e+05,...,73752.677968,71915.139439,62204.818003,4.927013e+05,2.470745e+05,9.739481e+05,5.388189,5.316907,4.074789,3.455097
min,1986.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,4577.000000,3371.000000,2572.000000,3.769800e+04,1.353000e+04,6.844900e+04,187.134670,232.831510,178.557612,236.379102
25%,1994.000000,4.887628e+05,3.477665e+06,2.960315e+05,1.885668e+06,1.312789e+06,3.491702e+06,1.801796e+06,1.023520e+06,1.915038e+05,...,22805.250000,22841.500000,19894.250000,3.738560e+05,1.726008e+05,3.022870e+05,234.797280,278.461453,218.897886,263.683325
50%,2002.000000,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,59471.000000,57783.000000,48035.500000,5.779547e+05,2.820691e+05,7.725005e+05,234.797280,278.461453,218.897886,263.683325
75%,2010.000000,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,71910.250000,72099.000000,64710.000000,5.779547e+05,2.820691e+05,9.558178e+05,234.797280,278.461453,218.897886,263.683325
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,6.441557e+06,253.420961,300.568235,236.773867,280.499130

## SORR
Bu iÅŸlemi yaptÄ±ÄŸÄ±mÄ±zda ortalamalar beklendiÄŸi gibi aynÄ± kaldÄ± ama std sapma neden bu kadar arttÄ±??

In [12]:
#ODEV 3
#eksik verileri o yÄ±l iÃ§erisinde gÃ¶zlemlenen deÄŸerlere dayanarak doldur.

years =data.YEAR.unique()
print (years)

[1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 1986 1987 1988
 1989 1990 1991 2017]

In [15]:
#basta kopyaladÄ±gÄ±m datamÄ±n Na Ä±ceren haline donuyorum

states_all2
fill_list = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE", 
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE", 
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G", 
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G", 
             "GRADES_9_12_G", "GRADES_ALL_G"] 

for sutun_adÄ± in fill_list:
    for year in years:
        states_all2[sutun_adÄ±].fillna(states_all2.groupby(by='YEAR').mean()[sutun_adÄ±].loc[year],inplace=True)
data.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1918.000000,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,1.918000e+03,...,1918.000000,1918.000000,1918.000000,1.918000e+03,1.918000e+03,1.918000e+03,1918.000000,1918.000000,1918.000000,1918.000000
mean,2001.947341,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,69166.507966,68106.537377,58420.870711,5.779547e+05,2.820691e+05,9.139695e+05,234.797280,278.461453,218.897886,263.683325
std,9.061480,8.518612e+05,9.586652e+06,9.350479e+05,4.524243e+06,4.475189e+06,9.776737e+06,5.136336e+06,2.736861e+06,4.271544e+05,...,73752.677968,71915.139439,62204.818003,4.927013e+05,2.470745e+05,9.739481e+05,5.388189,5.316907,4.074789,3.455097
min,1986.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,4577.000000,3371.000000,2572.000000,3.769800e+04,1.353000e+04,6.844900e+04,187.134670,232.831510,178.557612,236.379102
25%,1994.000000,4.887628e+05,3.477665e+06,2.960315e+05,1.885668e+06,1.312789e+06,3.491702e+06,1.801796e+06,1.023520e+06,1.915038e+05,...,22805.250000,22841.500000,19894.250000,3.738560e+05,1.726008e+05,3.022870e+05,234.797280,278.461453,218.897886,263.683325
50%,2002.000000,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,59471.000000,57783.000000,48035.500000,5.779547e+05,2.820691e+05,7.725005e+05,234.797280,278.461453,218.897886,263.683325
75%,2010.000000,9.175416e+05,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,4.299509e+05,...,71910.250000,72099.000000,64710.000000,5.779547e+05,2.820691e+05,9.558178e+05,234.797280,278.461453,218.897886,263.683325
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,6.441557e+06,253.420961,300.568235,236.773867,280.499130

BURADA SONUCLARIN NEDEN AYNI  GELDIGINI ANLAMADIGIM ICIN KARSILASTIRMA YAPAMIYORUM

In [ ]:
# Ã–dev 4 - Enterpolasyon


BURADA DATANIN ONCEKI HUCREDE ALINAN AKSIYONDAN ETKILENMEMESI ICIN ISLEMDEN ONCE COPY YAPIP COGALTMALIYDIM

TIME SERIES OLAMDIGI ICIN BUNU YAPMAK MANTIKLI OLUR MU BILEMEDIM

data.interpolate(method ='linear', limit_direction ='forward') 
data.head()